:root {
    --bg-main: #f1f5f9;
    --navy-dark: #0f172a;
    --kbm-red: #d71920;
    --border-color: #cbd5e1;
}

body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    background-color: var(--bg-main); 
    color: #1e293b;
    cursor: none;
    margin: 0;
}

.header-red { 
    background-color: var(--kbm-red);
    border-bottom: 3px solid rgba(0,0,0,0.1);
} 

.logo-container {
    display: flex;
    align-items: center;
    height: 3rem;
}

.logo-img {
    height: 100%;
    transform: scale(1.4);
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

.card-industrial {
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 4px; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.font-mono-industrial {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 700;
    letter-spacing: -1px;
}

.footer-custom-text {
    color: #124170 !important;
    font-weight: 800;
    letter-spacing: 0.1em;
}

#emoji { line-height: 1; display: block; }
::-webkit-scrollbar { display: none; }